head-server/src/__pycache__
head-server/src/build
head-server/src/dist
head-server/src/*.spec
head-server/src/grpc_config/__pycache__
head-sdk/build
head-sdk/dist
head-sdk/src/head_sdk.egg-info
head-sdk/*.spec

head-server-web/viewer/digital/node_modules/
head-server-web/viewer/digital/dist/
head-server-web/viewer/digital/.vite/
head-server-web/viewer/digital/demo/public/assets/
.DS_Store
/reference
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
head-server-web/.pytest_cache/
head-server-web/.mypy_cache/
head-server-web/.vscode/
head-server-web/.idea/
*.swp
*.swo
*.mp4
*.wav
